.content {
    height: 100%;
}

.titleLight {
    margin: 0;
    color: #545454;
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1px;
}

.subtitleLight {
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: #292929;
}

.navbarContainerLight {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    color: #545454;
}

.navbarContainerLight > a {
    color: #545454;
}

.navbarContainerLight > a:hover {
    color: #292929;
    transition: 0.3s;
}