.headerContainer {
    margin: 60px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.titleDark {
    margin: 0;
    color: #F1CDB3;
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1px;
}

.subtitleDark {
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: #fff;
}

.menuButtonSection {
    position: fixed;
    margin-top: 20px;
    margin-bottom: 18px;
    right: 53px;
    z-index: 2;
    display: none;
}

.closeImg {
    width: 30px;
    height: 30px;
}
@media (max-width: 320px) {
    .headerContainer {
        position: relative;
        margin: 30px 10px 0;
    }
    .menuButtonSection {
        width: 30px;
        height: fit-content;
        display: flex;
    }
}