.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 40px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.titleLight {
    margin: 0;
    color: #545454;
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1px;
}

.titleDark {
    margin: 0;
    color: #F1CDB3;
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1px;
}

.subtitleDark {
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: #fff;
}

.subtitleLight {
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: #292929;
}

.menuButtonSection {
    z-index: 2;
    position: fixed;
    right: 53px;
    display: none;
    margin-top: 20px;
    margin-bottom: 18px;
}

.closeImg {
    width: 30px;
    height: 30px;
}

@media (max-width: 700px) {
    .headerContainer {
        /* position: fixed; */
        margin: 30px 10px;
    }

    .menuButtonSection {
        width: 30px;
        height: fit-content;
        display: flex;
    }
}