.headerContainer {
    margin: 60px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.titleDark {
    margin: 0;
    color: #F1CDB3;
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1px;
}

/* TODO Changing theme depending on an opened page */
/* .titleLight {
    margin: 0;
    color: #545454;
    font-family: Georgia;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1px;
} */

.subtitleDark {
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: #fff;
}

/* TODO Changing theme depending on an opened page */
/* .subtitleLight {
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: #292929;
} */