.navbarContainer {
    position: relative;
    height: auto;
}

.navMenu {
    height: 100%;
    display: flex;
    gap: 35px;
    list-style-type: none;
}

.linkContainer {
    padding: 10px;
    border-bottom: 3px solid transparent;
}

.linkContainer > a {
    color: #cdcdcd;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.activeLinkContainer {
    padding: 10px;
    border-bottom: 3px solid #f1cdb3;
}

li:hover > .linkContainer > a {
    color: #fafafa;
    transition: 0.3s;
}