.footerContainer {
    background: radial-gradient(
        110.67% 538.64% at 5.73% 50%, 
        #513D2F 0%, 
        #1A1A1C 100%
        ), #211F20;
    }
    
.footerWrapper {
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-repeat: repeat;
    background-image: url('../../assets/background/noise_transparent.svg');
}

.title {
    text-align: left;
    font-family: Georgia;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #fff;
}

.descriptionText {
    text-align: left;
    font-family: Georgia;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #f1cdb3;
}

.contactsSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 60px;
}

.locationsSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 34px;
    margin-bottom: 60px;
}

.mailContainer,
.phoneContainer,
.locationContainer {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.iconContainer {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .footerWrapper {
        justify-content: space-around;
        gap: 65px 60px;
        padding: 30px 30px 0;
    }

    .locationsSection,
    .contactsSection {
        margin-bottom: 0;
    }
}

@media (max-width: 320px) {
    .footerWrapper {
        padding: 30px 10px 0;
        gap: 40px;
    }

    .footerWrapper > img {
        
        margin: 0 30px;
    }

    .title {
        text-align: center;
        font-size: 25px;
        line-height: 32px;
    }

    .contactsSection, 
    .locationsSection {
        justify-content: center;
        align-items: center;
    }

    .locationContainer {
        width: 100%;
        justify-content: flex-start;
    }

    .descriptionText {
        font-size: 20px;
        line-height: 23px;
    }
}